/*******************
 backend/jobs.config
 *******************

 'backend/jobs.config' is a Velo configuration file that lets you schedule code to run repeatedly at specified intervals. 

 Using scheduled jobs you can run backend code without any user interaction. For example, you could generate a weekly 
 report or run nightly data cleansing.

 You schedule code to run by creating a job.
 Each job defines which function to run and when to run it.

 ---
 More about Scheduled Jobs: 
 https://support.wix.com/en/article/velo-scheduling-recurring-jobs
 
 Online tool for building Velo cron expressions
 https://wix.to/NDAQn6c

*******************/

// The following code is an example of a job. Adapt the code for your specific use case.
{
  "jobs": [
    {
      "functionLocation": "/module/functions.jsw",
      "functionName": "fetchProducts",
      "description": "Fetch products from the external source",
      "executionConfig": {
        "cronExpression": "0 * * * *"
      }
    },
    {
      "functionLocation": "/module/functions.jsw",
      "functionName": "assignImagesToProduct",
      "description": "Add images to wix-store products",
      "executionConfig": {
        "cronExpression": "2 * * * *"
      }
    },
    {
      "functionLocation": "/module/functions.jsw",
      "functionName": "assignProductsToCollections",
      "description": "Add products to wix-store collections",
      "executionConfig": {
        "cronExpression": "3 * * * *"
      }
    },
    {
      "functionLocation": "/module/functions.js",
      "functionName": "updateProductInventory",
      "description": "Add products invantory quantity",
      "executionConfig": {
        "cronExpression": "4 * * * *"
      }
    },
    {
      "functionLocation": "/module/functions.js",
      "functionName": "updateProductsDescription",
      "description": "Update product name, price and description if it updated on external source",
      "executionConfig": {
        "cronExpression": "5 * * * *"
      }
    }
  ]
}